body {
    margin: 0;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .App-logo {
    height: 5vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  .App{
    min-height: 100vh;
    margin : 30px;
    display: flex;
    flex-direction: column;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  header{
      border-bottom : solid 0.1px rgba(121, 121, 121, 0.384);
      padding-bottom: 10px;
  }

  #searchBar{
    border: solid 0.1px rgba(121, 121, 121, 0.384);
      height: 40px;
      width: 200px;
  }

  #signUp, #Login{
    border: solid 0.1px rgba(121, 121, 121, 0.384);
    height: 40px;
    border-radius: 12px;
    width: 110px;
    margin-right: 10px;
  }

  #signUp:hover{
    border: solid 0.1px rgb(28, 28, 225);
    color : rgb(28, 28, 225);
  }
  #Login:hover{
    border: solid 0.1px rgb(100, 32, 225);
    color : rgb(100, 32, 225);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1{
    font-family: "Alliance No.1",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size : 52px;
    font-weight: 800;
    color : rgb(51, 51, 51);
  }

  h2{
    font-size: 24px;
    color: rgb(102, 102, 102);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  button{
    font-size: 20px;
    border : none;
    color : rgba(0, 0, 0, 0.726);
    background: none;
    height: 50px;
    width: 120px;
  }
  
  button:hover{
    cursor: pointer;
    color : black;
  }

  #createCV{
      background-color: rgb(28, 28, 225);
      border-radius: 12px;
      color : white;
      width: 200px;
  }

  #createCV:Hover{
      box-shadow: rgb(210, 210, 249) 4px 4px 0px 0px;
    }

  .NavBar{
      display: flex;
      justify-content: space-evenly;
  }
  .fieldFocus{
      border-bottom: solid 2px #81e5fb;
      color : black;
  }

  #Preview{
    background-color: rgb(100, 32, 225);
    border-radius: 12px;
    color : white;
    width: 110px;
  }

  #Download{
    background-color: rgb(28, 28, 225);
    border-radius: 12px;
    color : white;
    width: 110px;
  }

  #Preview:hover, #Download:hover{
    box-shadow: rgb(210, 210, 249) 4px 4px 0px 0px;
  }

  #InputFields{
      transform: translate(0px, 20px);
  }

  input{
      margin: 5px;
      padding-left: 15px;
      font-size: 25px;
      width : 400px;
      height : 50px;
      border-radius: 8px;
      border : solid 0.1px rgba(0, 0, 0, 0.384); 
  }

  #CV{
    height: 636px;
    width : 450px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 0px 15px 4px;
    position : absolute;
    transform: translate(490px, -300px);
  }

  input:focus {outline:0;}

  .footerLink{
    margin : 5px;
  }

  footer{
      margin-top: auto;
      padding: 10px;
      border-top : solid 0.1px rgba(121, 121, 121, 0.384);
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }